<a href="https://colab.research.google.com/github/joonheeCho/Artificial-Intelligence-Basic-Course/blob/main/%EC%9D%B8%EA%B3%B5%EC%A7%80%EB%8A%A5_%EA%B8%B0%EC%B4%88%EA%B3%BC%EC%A0%95_Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**<파이썬 기초 문법 및 예제>**

  1) 기본 데이터 타입

In [26]:
a = int(3.5)
b = float(1.6)
c = bool(0)
d = bool(-1)
e = bool("false")
f = bool("")
g = None

In [28]:
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
g is None

3
1.6
False
True
True
False
None

True

2) 연산자

산술연산자

In [33]:
a = 10
b = 1.2
c = 3
print(a,b)
print(a+b, a-b, a*b, a/b, a**2, a%c, a//b)

10 1.2
11.2 8.8 12.0 8.333333333333334 100 1 8.0

비교연산자

In [35]:
a = 1
b = 2
c = 3
d = 1

In [44]:
if a == d:
  print("a와 d는 같음")
if a != b:
  print("a와 d는 다름")
if a < c:
  print("a는 c보다 작음")
if b <= c:
  print("c는 b보다 크거나 같음")

a와 d는 같음
a와 d는 다름
a는 c보다 작음
c는 b보다 크거나 같음

할당연산자

In [45]:
a = 2
b = 2
c = 3
d = 3
a = a * 10
b  *= 10
c = c + 5
d += 5

In [46]:
print(a)
print(b)
print(c)
print(d)

20
20
8
8

논리연산자

In [48]:
age = 10
name = "kim"
if age >= 9 and name == "block":
  print("and 연산자 결과 : True")
else:
  print("and 연산자 결과 : False")

and 연산자 결과 : False

In [50]:
age = 10
name = "kim"
if age >= 9 or name == "block":
  print("or 연산자 결과 : True")
else:
  print("or 연산자 결과 : False")

or 연산자 결과 : True

In [51]:
age = 10
if not age >= 9:
  print("not 연산자 결과 : True")
else:
  print("not 연산자 결과 : False")

not 연산자 결과 : False

Bitwise 연산자

In [52]:
a = 8        # 0000 1000
b = 11       # 0000 1011
c = a & b    # 0000 1000  (8)
d = a ^ b    # 0000 0011  (3)
e = a | b    # 0000 1011  (11)
f = a << 2   # 0010 0000  (32)

In [53]:
print(c)
print(d)
print(e)
print(f)

8
3
11
32

멤버쉽 연산자

In [55]:
a = [1,2,3,4]
b = 3 in a   
c = 3 not in a
d = 5 in a

print(b)
print(c)
print(d)

True
False
False

Identity 연산자

In [57]:
a = "ABC"
b = a
c = "DEF"

print(a is b)
print(a is c)
print(a is not c)

True
False
True

3) 문자열

문자열 선언

In [58]:
s = '''아리랑
아리랑
아라리요
'''
print(s)

아리랑
아리랑
아라리요

In [59]:
s = '아리랑\n아리랑\n아라리요'
print(s)

아리랑
아리랑
아라리요

문자열 포멧팅

In [60]:
p = "이름: %s 나이: %d" % ("김유신", 65)
print(p)

이름: 김유신 나이: 65

In [72]:
p = "X = %0.3f, Y = %10.2f" % (3.141592, 3.141592)
print(p)

#%10.2f 는 전체 10자리이고 값이 적으면 앞에 빈칸을 채우게 되고, .2 는 소수점 2째 자리까지만 표시한다는 것을 의미

X = 3.142, Y =       3.14

str (문자열 클래스)

In [73]:
s = "ABC"
print(type(s))      # class 'str'
v = s[1]     # B
print(v)
print(type(s[1]))   # class 'str'

<class 'str'>
B
<class 'str'>

<자주 사용되는 str 메서드>

1. str.join()

In [74]:
s = ','.join(['가나','다라','마바'])
print(s)
 
s = ''.join(['가나','다라','마바'])
print(s)

가나,다라,마바
가나다라마바

2. str.split()

In [75]:
items = '가나,다라,마바'.split(',')
print(items)

['가나', '다라', '마바']

3. str.partition()

In [76]:
departure, _, arrival = "Seattle-Seoul".partition('-')
print(departure)

Seattle

4. str.format()

In [78]:
# 위치를 기준으로 한 포맷팅
s = "Name: {0}, Age: {1}".format("강정수", 30)
print(s)

Name: 강정수, Age: 30

In [79]:
# 필드명을 기준으로 한 포맷팅
s = "Name: {name}, Age: {age}".format(name="강정수", age=30)
print(s)

Name: 강정수, Age: 30

In [80]:
# object의 인덱스 혹은 키를 사용하여 포맷팅
area = (10, 20)
s = "width: {x[0]}, height: {x[1]}".format(x = area)
print(s)

width: 10, height: 20

4) 조건문

In [81]:
empty = [1,2,3]

if empty[1]%2 == 0:
  print("{} is an even number".format(empty[1]))
elif empty[1]%2 == 1:
  print("{} is an odd number".format(empty[1]))
else:
  print("Impossible")

2 is an even number

5) 반복문

while

In [82]:
start = 0
while start<5:
  print(start)
  start = start + 2

print("final value: {}".format(start))

0
2
4
final value: 6

for

In [83]:
sum = 0
for i in range(11):
    sum += i    # 0부터 10까지의 합
print(sum)

55

In [84]:
list = ["This", "is", "a", "book"]
for s in list:
    print(s)

This
is
a
book

break / continue

In [85]:
i = 0
sum = 0
while True:
    i += 1
    if i == 5:
        continue
    if i > 10:
        break
    sum += i
 
print(sum)

50

6) list

In [86]:
a = []
print(a)
a = ["AB", 10, False]
print(a)

[]
['AB', 10, False]

리스트 인덱싱

In [87]:
a = ["AB", 10, False]
x = a[1]        # a의 두번째 요소 읽기
a[1] = "Test"   # a의 두번째 요소 변경
y = a[1]       
z = a[-1]       # a의 마지막 요소

print(x)
print(y)
print(z)

10
Test
False

리스트 슬라이싱 (slicing)

In [88]:
a = [1, 3, 5, 7, 10]
x = a[1:3]     # [3, 5]
x = a[:2]      # [1, 3]
x = a[3:]      # [7, 10]

리스트 요소 추가, 수정, 삭제

In [90]:
a = ["AB", 10, False]
a.append(21.5)  # 추가
print(a)
a[1] = 11       # 변경
print(a)
del a[2]        # 삭제
print(a)        # ['AB', 11, 21.5]

['AB', 10, False, 21.5]
['AB', 11, False, 21.5]
['AB', 11, 21.5]

리스트 병합과 반복

In [91]:
# 병합
a = [1, 2]
b = [3, 4, 5]
c = a + b
print(c)   # [1, 2, 3, 4, 5]
 
# 반복
d = a * 3
print(d)   # [1, 2, 1, 2, 1, 2]

[1, 2, 3, 4, 5]
[1, 2, 1, 2, 1, 2]

리스트 검색

In [92]:
mylist = "This is a book That is a pencil".split()
i = mylist.index('book')  # i = 3
n = mylist.count('is')    # n = 2
print(i, n)

3 2

7) Tuple

In [93]:
t = ("AB", 10, False)
print(t)

('AB', 10, False)

tuple 인덱싱과 슬라이싱

In [95]:
t = (1, 5, 10)
 
# 인덱스
second = t[1]      # 5
last = t[-1]       # 10
 
# 슬라이스
s1 = t[1:2]         # (5)
s2 = t[1:]          # (5, 10)

print(second)
print(last)
print(s1)
print(s2)

5
10
(5,)
(5, 10)

tuple 병합과 반복

In [96]:
# 병합
a = (1, 2)
b = (3, 4, 5)
c = a + b
print(c)   # (1, 2, 3, 4, 5)
 
# 반복
d = a * 3  # 혹은 "d = 3 * a" 도 동일
print(d)   # (1, 2, 1, 2, 1, 2)

(1, 2, 3, 4, 5)
(1, 2, 1, 2, 1, 2)

tuple 변수 할당

In [97]:
name = ("John", "Kim")
print(name)
# 출력: ('John', 'Kim')
 
firstname, lastname = ("John", "Kim")
print(lastname, ",", firstname)
# 출력: Kim, John

('John', 'Kim')
Kim , John

8) Dictionary

In [98]:
scores = {"철수": 90, "민수": 85, "영희": 80}
v = scores["민수"]   # 특정 요소 읽기
scores["민수"] = 88  # 쓰기
s = scores["민수"]
print(v)
print(s)

85
88

추가, 수정, 삭제, 읽기

In [100]:
scores = {"철수": 90, "민수": 85, "영희": 80}
scores["민수"] = 88   # 수정
scores["길동"] = 95   # 추가
del scores["영희"]
print(scores)

{'철수': 90, '민수': 88, '길동': 95}

In [99]:
scores = {"철수": 90, "민수": 85, "영희": 80}
 
for key in scores:
    val = scores[key]
    print("%s : %d" % (key, val))

철수 : 90
민수 : 85
영희 : 80

유용한 dict 메서드: keys(), values(), items(), dict.get()

In [101]:
scores = {"철수": 90, "민수": 85, "영희": 80}
 
# keys
keys = scores.keys()
for k in keys:
    print(k)
 
# values
values = scores.values()
for v in values:
    print(v)

철수
민수
영희
90
85
80

In [103]:
scores = {"철수": 90, "민수": 85, "영희": 80}
 
items = scores.items()
print(items)

dict_items([('철수', 90), ('민수', 85), ('영희', 80)])

In [104]:
scores = {"철수": 90, "민수": 85, "영희": 80}
v = scores.get("민수")  # 85
print(v)
v = scores.get("길동")  # None
#v = scores["길동"]      # 에러 발생
print(v)

85
None

9) set

In [105]:
# set 정의
myset = { 1, 1, 3, 5, 5 }
print(myset)   
 
# 리스트를 set으로 변환
mylist = ["A", "A", "B", "B", "B"]
s = set(mylist)
print(s)

{1, 3, 5}
{'A', 'B'}

set의 추가 및 삭제

In [106]:
myset = {1, 3, 5}
 
# 하나만 추가
myset.add(7)
print(myset)
 
# 여러 개 추가
myset.update({4,2,10})
print(myset)
 
# 하나만 삭제
myset.remove(1)
print(myset)
 
# 모두 삭제
myset.clear()
print(myset)

{1, 3, 5, 7}
{1, 2, 3, 4, 5, 7, 10}
{2, 3, 4, 5, 7, 10}
set()

집합 연산

In [107]:
a = {1, 3, 5}
b = {1, 2, 5}
 
# 교집합
i = a & b
# i = a.intersection(b)
print(i)
 
# 합집합
u = a | b
# u = a.union(b)
print(u)
 
# 차집합
d = a - b
# d = a.difference(b)
print(d)

{1, 5}
{1, 2, 3, 5}
{3}

10) 함수

In [108]:
def square_sum(a,b):
  squared_a = a**2
  squared_b = b**2
  
  return squared_a + squared_b

In [109]:
c = square_sum(3,4)
print("squared sum of {} and {} : {}".format(3, 4, c))

squared sum of 3 and 4 : 25

11. 패키지

In [110]:
import numpy as np

array = np.array([1,2,3])
print(array, type (array))

[1 2 3] <class 'numpy.ndarray'>

12. 클래스

In [132]:
class Calculator():
  def __init__(self, num1, num2):
    self.description = "Example for initalizing a Class"
    self.num1 = num1
    self.num2 = num2
    self.result = 0

  def add(self):
    if type(self.num1) == int and type(self.num2) == int :
      result = self.num1 + self.num2
      return result
    else:
      raise Exception

  def mul(self):
    if type(self.num1) == int and type(self.num2) == int :
      result = self.num1 * self.num2
      return result
    else:
      raise Exception

In [133]:
cal = Calculator(3,4)
print(cal.description)
print(cal.add())
print(cal.mul())

Example for initalizing a Class
7
12